<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>OpenCLAda - {{ page.title }}</title>
		<link href="/css/main.css" media="screen" rel="stylesheet" type="text/css"/>
		<link href="/css/syntax.css" media="screen" rel="stylesheet" type="text/css"/>
	</head>
	
	<body>
		<header>
			<h1>OpenCLAda</h1>
			<h2>Ada Binding for the OpenCL Host API</h2>
		</header>
		
		<nav>
			<h3>Navigation</h3>
			<ul>
				<li><a href="/" {% if page.url == '/' or page.url = '/index.html'%} class="active" {% endif %}>Home</a></li>
				<li><a href="/documentation" {% if page.url == '/documentation' or page.url = '/documentation/'%} class="active" {% endif %}>Documentation</a></li>
				<li><a href="/binding-design" {% if page.url == '/binding-design' or page.url = '/binding-design/'%} class="active" {% endif %}>Ada Binding Design Guidelines</a></li>
			</ul>
		</nav>
		
		<article>
			{{ content }}
		</article>
		
		<footer>
			<p>Copyright © 2012 by <a href="http://flyx.org">Felix Krause</a>. Powered by <a href="http://pages.github.com/">GitHub Pages</a></p>
		</footer>
	</body>
</html>